.navbar {
  width: 100%;
  &__container {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    width: 50px;
    height: 50px;
  }
  &__links{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    a {
      font-size: 18px;
      transition-duration: 0.3s;
	    transition-property: font-size;
      line-height: 22px;
      font-weight: 300;
    }
    a:hover {
      font-size: 21px;  
    }
  }

  &__user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    span {
      cursor: pointer;
    }
    .write {

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #aacfff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid white;
      }
      a:hover {
        color: #aacfff;
        background-color: white;
        border: 1px solid #aacfff;
      }
    }
  }
}
